.Mystreams-background {
  width: 100%;
  height: 800px;
  margin-top: 30px;
  background-image: url("../../plain_background_landing.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Mystreams-header {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  z-index: 10000;
}

.Stream-box {
  background: #f5f7f9;
  border: 1.5px solid #045da5;
  border-radius: 7px;
  box-shadow: 7px 7px 7px -5px rgb(0, 0, 0, 0.56);
  padding: 1px;
  margin-top: 50px;
}

.Mystreams-header button {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  background: transparent;
}

.Mystreams-container {
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  height: 85%;
  width: 90vw;
}

.Mystreams-table {
  width: 95%;
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
}

.Mystreams-box {
  width: 95%;
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
}
.Mystreams-table-column {
  list-style: none;
  margin-right: 10px;
  width: 200px;
  font-weight: bold;
}

.Mystreams-box-row {
  list-style: none;
  margin-right: 10px;
  width: 200px;
  text-overflow: ellipsis;
  max-height: 21px;
  white-space: nowrap;
  overflow: hidden;
}
.Mystreams-table-id {
  width: 125px;
  list-style: none;
  font-weight: bold;
}

.Mystreams-box-id {
  width: 125px;
  list-style: none;
}

.Mystreams-video {
  display: flex;
  justify-content: center;
}

.Mystreams-box-title {
  width: 150px;
  list-style: none;
}

.Mystreams-table-title {
  width: 150px;
  list-style: none;
  font-weight: bold;
}

.Mystreams-mappedlist {
  max-height: 100%;
  width: 100%;
  overflow: none;
}
