.AlterProfile-background {
  width: 100%;
  height: 700px;
  position: top;
  margin-top: 30px;
  background-image: url("../../plain_background_landing.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Default-file-upload {
  display: none;
}

.AlterProfile-container {
  display: flex;
  flex-direction: column;
  width: 290px;
  justify-content: space-between;
  align-items: center;
  height: 350px;
  position: absolute;
  top: 27%;
}

/* .AlterProfile-container label {
  color: grey;
} */

.AlterProfile-input {
  text-align: center;
  margin: 5px;
  height: 20px;
  word-wrap: break-word;
  /* font-family: "Roboto", sans-serif; */
  width: 225px;
  border: none;
  align-content: center;
  border-bottom: 1px solid grey;
  margin-top: 10px;
  background: transparent;
}

.Custom-file-upload {
  border-radius: 50px;
  padding: 7px;
  color: white;
  background: #f94659;
  width: 104px;
  max-width: 100%;
  margin: 0 auto;
  font-size: 12px;
  font-weight: 300;
  border: none;
  box-shadow: 5px 5px 5px -5px rgb(0, 0, 0, 0.56);
  cursor: pointer;
  font-weight: 500;
}

.AlterProfile-button {
  border-radius: 50px;
  padding: 7px;
  color: white;
  background: #f94659;
  width: 104px;
  max-width: 100%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 300;
  border: none;
  box-shadow: 5px 5px 5px -5px rgb(0, 0, 0, 0.56);
  cursor: pointer;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.AlterProfile-submit-buttons {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}
