.Profile-background {
  width: 100%;
  height: 700px;
  position: top;
  margin-top: 30px;
  background-image: url("../../plain_background_landing.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Profile-container {
  z-index: 10000;
  display: flex;
  flex-direction: row;
  height: 75%;
}

.Profile-info {
  text-align: left;
  margin-right: 100px;
  width: 250px;
}

.Profile-info label {
  font-weight: bold;
}

.Profile-info li {
  list-style: none;
}

.Profile-image {
  width: 250px;
}

.Profile-image img {
  display: inline-block;
  width: 250px;
  height: 250px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  object-fit: cover;
}

.Profile-image label {
  font-weight: bold;
}
