.Differentiators {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: left;
}

.Powered-by {
  text-align: left;
  margin: 0;
  margin-left: 100px;
  color: grey;
}

.Diff-box {
  width: 250px;
}

.Diff-box img {
  height: 45px;
}

.Diff-box h1,
p {
  margin: 0;
}

.Partner-logos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #faf1f2;
  width: 100%;
}

.Partner-logos-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.Partner-logos img {
  height: 65px;
}

@media (max-width: 1000px) {
  .Partner-logos {
    display: none;
  }
  .Diff-box {
    width: 150px;
  }

  .Diff-box img {
    height: 45px;
  }

  .Diff-box h1 {
    font-size: 22px;
  }
  .Diff-box p {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .Differentiators {
    flex-direction: column;
  }
}
