.Nav-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100000;
  background-color: #dff5f7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 87px;
  padding-top: 20px;
  padding-right: 18px;
}

.Search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px;
  height: 60px;
}

.Main-header-logo {
  margin-left: 45px;
  max-height: 55px;
}

/* img {
  max-height: 45px;
} */

.Search-component {
  display: flex;
  align-items: center;
  margin-left: 15px;
  width: 400px;
  height: 48px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid lightgrey;
  box-shadow: 5px 5px 5px -5px rgb(0, 0, 0, 0.56);
}

.Nav-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 45px;
  cursor: pointer;
  text-align: center;
  /* align-items: center; */
}

.Search-box img {
  max-height: 25px;
}

.Nav-link {
  margin-right: 30px;
  padding-top: 15px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 550;
  letter-spacing: 1px;
  color: #f94659;
}

.Nav-link-new {
  margin-right: 23px;
  margin-top: 5px;
  padding: 7px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 550;
  letter-spacing: 1px;
  color: #f94659;
  border: solid 3px #f94659;
  border-radius: 4px;
}

.Nav-link-signup {
  margin-right: 30px;
  padding: 15px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 550;
  letter-spacing: 1px;
  color: #ffffff;
  background-color: #f94659;
}

.Nav-link:hover {
  border-bottom: solid #f94659;
}

.Browser-view-links {
  display: flex;
  flex-direction: row;
}

.Responsive-view-links {
  display: none;
}

.Responsive-view-links img {
  width: 34px;
  cursor: pointer;
  height: 32px;
}

.drop-down {
  display: none;
  height: 0px;
}
#menu {
  /* transition: height 0.8s; */
  position: absolute;
  right: 5%;
  top: 5%;
  border-radius: 4px;
}

.menu-open {
  transition: height 0.1s;
  width: 170px;
  height: 120px;
  background-color: #f94659;
  /* color: white; */
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0px;
}

.menu-open .drop-down {
  transition: height 0.8s;
  display: block;
  color: transparent;
}

.menu-close .drop-down {
  transition: height 0.8s;
  color: transparent;
  display: none;
}

.menu-close {
  width: 170px;
  height: 100px;
  background-color: #f94659;
  /* color: white; */
  display: flex;
  flex-direction: column;
}

.menu-close {
  height: 0vh;
  /* color: transparent; */
}

@media (max-width: 1100px) {
  #menu {
    right: 1%;
    top: 70%;
    width: 190px;
    text-align: right;
    padding-right: 10px;
  }
  .Nav-link {
    padding-top: 0px;
  }
  .Nav-link-new {
    /* padding-top: 0px; */
    margin-bottom: 1px;
    margin-top: 0px;
  }
  .drop-down a {
    width: 0px;
  }
  .Drop-down-nav-link {
    color: white;
    list-style: none;
    margin-top: 11px;
    margin-bottom: 7px;
    font-weight: bold;
  }
  .Nav-links {
    align-items: center;
  }

  .Browser-view-links {
    display: none;
  }
  .Responsive-view-links {
    display: flex;
    align-items: center;
  }
  .menu-open .drop-down {
    color: white;
  }
}

@media (max-width: 800px) {
  #menu {
    top: 100%;
    width: 95%;
    text-align: center;
  }
  .Drop-down-nav-link {
    width: 100%;
  }
  .Nav-bar {
    flex-direction: column;
  }
  .Nav-link {
    padding-top: 0px;
  }
  .Nav-link-new {
    /* padding-top: 0px; */
    margin-bottom: 1px;
  }
  .Nav-links {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
  }
  .Main-header-logo {
    margin-left: 45px;
    max-height: 40px;
    padding-bottom: 15px;
  }
}
